In [16]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from numpy import percentile
from numpy.random import randn
import numpy as np
import os
from scipy.stats import norm, stats

In [50]:
def createStateDf(state, year):
    folder = "data/WICAgencies{}ytd/".format(year)
    
    stateDict = {
        "Date": pd.read_csv("data/WICAgencies2014ytd/Children_Participating.csv").columns[1:-1]
    }
    
    for dataFile in os.listdir(folder):
        file = folder + dataFile
        stateDf = pd.read_csv(file)
        stateData = stateDf[ stateDf[stateDf.columns[0]] == state ]
        
        if len(stateData) != 1:
            for i in len(stateData):
                if stateData.iloc[i].isna().sum() != 12:
                    stateData = stateData.iloc[i]
                    break
                
        stateDict[dataFile][:-4] = stateData
    
    return pd.DataFrame(stateDict)
            
    
createStateDf("New York", "2014")

KeyError: 'Infants_Partially_Breastfed.csv'

In [39]:
file = pd.read_csv("data/WICAgencies2014ytd/Food_Costs.csv")
file[file[file.columns[0]] == "Texas"].iloc[0].isna()
len(file[file[file.columns[0]] == "Texas"]

2

In [46]:
stateData = file[file[file.columns[0]] == "Texas"]

if len(stateData) != 1:
    for i in range(len(stateData)):
        print(stateData.iloc[i].isna().sum())
        
stateData

12
0

,State Agency or Indian Tribal Organization,2013-10-01 00:00:00,2013-11-01 00:00:00,2013-12-01 00:00:00,2014-01-01 00:00:00,2014-02-01 00:00:00,2014-03-01 00:00:00,2014-04-01 00:00:00,2014-05-01 00:00:00,2014-06-01 00:00:00,2014-07-01 00:00:00,2014-08-01 00:00:00,2014-09-01 00:00:00,Cumulative Cost
39,Texas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
40,Texas,28048726.0,42481513.0,24706304.0,12224343.0,38173888.0,15004632.0,36113963.0,15892946.0,25452554.0,35516150.0,18808229.0,29510324.0,321933572

In [23]:
"Total_Women.csv"[:-4]

'Total_Women'